
/* Загальне позиціювання елементу */

.PeriodTypeSelectMarkUp{
display: flex;
justify-content: flex-end;
position: relative;
max-height: 35px;
}

.PeriodTypeSelectMarkUp::after{
content: '';
height: 100%;
position: absolute;
left: 50%;
transform: translateX(-50%); 
width: 1px;
background-color: rgba(62, 133, 243, 0.2)
}





.btnMonth{
    padding: 8px 16px ;
    width: 82px;
    height: 34px;
    background:var(--task-button-color);
    border: none;
    border-radius: 8px 0px 0px 8px;
    text-decoration: none;

    
}
.btnMonth a{
    text-decoration: none;
}
.btnMonth:hover,
.btnMonth:focus,
.btnMonth:active{
background-color:var(--active-calendar-color);
}


.btnDay{
    padding: 8px 26px;
    width: 82px;
    height: 34px;
    background:var(--task-button-color) ;
    border: none;
    border-radius: 0px 8px 8px 0px;
}
.btnDay  a{
    text-decoration: none;
}

.btnDay:hover, 
.btnDay:focus,
.btnDay:active{
    background-color: var(--active-calendar-color);
}

.text{
    width: 50px;
    height: 18px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    color:var(--button-bgd-color);
}