
/* Загальне позиціювання елементу */

.periodTypeSelectMarkUp{
display: flex;
display: flex;
flex-direction: row;
justify-content: flex-start;
margin-bottom: 24px;
/* max-height: 25px;
max-width: 8px; */
}

/* .periodTypeSelectMarkUp::after{
content: '';
height: 100%;
position: absolute;

right: 8.20%;
width: 1px;
background-color: rgba(62, 133, 243, 0.2)
} */

.navLink_day {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    text-decoration: none;
    color: var(--button-bgd-color);
    background-color: var(--task-button-color);
    align-items: center;

    padding: 8px 25px;
    border-radius: 0px 8px 8px 0px;
}

.activeLink_day {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    text-decoration: none;
    color: var(--button-bgd-color);
    background-color: var(--active-calendar-color);
    align-items: center;
    
    padding: 8px 25px;
    border-radius: 0px 8px 8px 0px;
}

.navLink_month {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    text-decoration: none;
    color: var(--button-bgd-color);
    background-color: var(--task-button-color);
    align-items: center;

    padding: 8px 16px;
    border-right: 1px solid rgba(62, 133, 243, 0.2);
    border-radius: 8px 0px 0px 8px;
}

.activeLink_month {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    text-decoration: none;
    color: var(--button-bgd-color);
    background-color: var(--active-calendar-color);
    align-items: center;

    padding: 8px 16px;
    border-right: 1px solid rgba(62, 133, 243, 0.2);
    border-radius: 8px 0px 0px 8px;
}





 
    
  