
/* Загальне позиціювання елементу */

.periodTypeSelectMarkUp{
display: flex;
justify-content: flex-end;
position: relative;
max-height: 35px;
}

.periodTypeSelectMarkUp::after{
content: '';
height: 100%;
position: absolute;

right: 8.20%;
width: 1px;
background-color: rgba(62, 133, 243, 0.2)
}



.btnMonth{
    padding: 8px 16px ;
    width: 82px;
    height: 34px;
    background: #CAE8FF;
    border: none;
    border-radius: 8px 0px 0px 8px;
    text-decoration: none;

    
}
.btnMonth a{
    text-decoration: none;
}
.btnMonth:hover, .btnMonth:active{
background-color: rgba(62, 133, 243, 0.35);
}
.btnMonth:active{
    background-color: rgba(62, 133, 243, 0.35);
}

.btnDay{
    padding: 8px 26px;
    width: 82px;
    height: 34px;
    background: #CAE8FF;
    border: none;
    border-radius: 0px 8px 8px 0px;
}
.btnDay  a{
    text-decoration: none;
}

.btnDay:hover, .btnDay:active{
    background-color: rgba(62, 133, 243, 0.35);
}
.btnDay:active{
    background-color: rgba(62, 133, 243, 0.35);
}
.text{
    width: 50px;
    height: 18px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    
    text-align: center;
    
    color: #3E85F3;
}