.container {
    min-height: 100vh;
    /* background: #EAEAEA; */
    background: var(--secondary-bgd-color);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding-top: 20px;
    padding-bottom: 20px;
}