.avatar {
  margin-left: 14px;
  height: 32px;
  width: 32px;
  border-radius: 50px;
  border: 1.8px solid var(--button-bgd-color);
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: cover;
}

@media screen and (min-width: 768px) {
  .avatar {
    height: 44px;
    width: 44px;
  }
}
.name {
  font-size: 14px;
  color: var(--user-name-color);
}

@media screen and (min-width: 768px) {
  .name {
    font-size: 18px;
  }
}
.container {
  cursor: pointer;
  display: flex;
  text-align: center;
  align-items: center;
}
