.avatar {
  margin-left: 14px;
  height: 32px;
  width: 32px;
  border-radius: 50px;
  border: 1.8px solid #3e85f3;
  text-align: center;
  padding: 5px;
  font-size: 20px;
  font-weight: 700;
}
.name {
  font-size: 18px;
  color: var(--user-name-color);
}

@media screen and (max-width: 375px) {
  .name {
    font-size: 14px;
  }
}
.container {
  cursor: pointer;
  display: flex;
  text-align: center;
  align-items: center;
}
