.react-datepicker {
  border: none;
  font-family: 'Inter';
}

.react-datepicker__month-container {
  font-size: 14px;
}

.react-datepicker__month {
  border-top: 1px solid var(--datepicker-line);
}

.react-datepicker__current-month {
  font-weight: 600;
  font-size: 16px;
  padding-bottom: 4px;
}

.react-datepicker__navigation-icon::before {
  display: none;
}

.react-datepicker__navigation {
  background: center url(../../icons//chevron-left.svg) no-repeat;
}

.react-datepicker__navigation--previous {
  transform: rotate(180deg);
}

.react-datepicker__month-container,
.react-datepicker__header {
  background-color: var(--button-bgd-color);
  border-radius: 16px !important;
  border: none;
}

.react-datepicker__day-name,
.react-datepicker__day,
.react-datepicker__current-month {
  color: var(--white-color);
}

.react-datepicker__day {
  border-radius: 24px;
}

.react-datepicker__day--disabled,
.react-datepicker__day--weekend {
  opacity: 0.3;
}

.react-datepicker__day:hover,
.react-datepicker__day--selected {
  background-color: var(--white-color);
  color: var(--button-bgd-color);
  border-radius: 24px;
  opacity: 1;
  transition: 0.3s;
}
