.form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: var(--calendar-bdg-color);
  padding: 40px 18px;
  border-radius: 16px;
}

.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 40px 0;
  gap: 18px;
  flex-direction: column;
}

.column {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.uploader {
  display: none;
}

.uploader_label {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 2px solid var(--button-bgd-color);
  width: 72px;
  height: 72px;
  cursor: pointer;
  overflow: hidden;
  margin-bottom: 18px;
}

.userPhoto {
  width: 72px;
  height: 72px;
  object-fit: cover;
}

.userLetter {
  font-size: 3rem;
  font-weight: 400;
  color: var(--button-bgd-color);
  opacity: 0.18;
}

.plus_container {
  position: relative;
}

.plus_icon {
  position: absolute;
  right: 20%;
  bottom: 15%;
  width: 14px;
  height: 14px;
}

.user_label {
  align-items: center;
}

.label {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
  max-width: 354px;
}

.error_label {
  color: var(--error-input-state);
}

.error_msg {
  color: var(--error-msg);
  font-size: 12px;
}

.success_label {
  color: var(--correct-input-state);
}

.input {
  box-sizing: border-box;
  width: 100%;
  padding: 14px;
  border: 1px solid var(--normal-input-state);
  border-radius: 8px;
  background-color: var(--calendar-bdg-color);
  color: var(--input-text-color);
}

.datepicker {
  background: url(../../icons/chevron-down.svg) no-repeat 95% center;
}

.datepicker_container {
  height: 45px;
}

.error_input {
  background: none;
  border: 1px solid var(--error-input-state);
}

.error_icon {
  position: absolute;
  right: 13px;
  bottom: 34px;
}

.success_icon {
  position: absolute;
  right: 13px;
  bottom: 12px;
}

.success_input {
  background: none;
  border: 1px solid var(--correct-input-state);
}

.chevron_icon {
  position: absolute;
  right: 18px;
  bottom: 14px;
}

.button {
  height: 48px;
  width: 70%;
  border: none;
  border-radius: 16px;
  color: var(--white-color);
  transition: 0.3s;
}

.button:hover {
  background-color: var(--hover-bgc-submit);
}

.button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

@media screen and (min-width: 375px) {
  .container {
    padding: 40px auto;
  }
  .button {
    width: 195px;
  }
  .input {
    width: 299px;
  }
}

@media screen and (max-width: 768px) {
  .userPhoto_container {
    position: absolute;
    top: -30px;
  }
  .user_label {
    padding-top: 18px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    padding: 40px 20%;
    gap: 24px;
  }
  .column {
    gap: 24px;
  }
  .input {
    width: 354px;
  }
  .button {
    width: 262px;
  }
  .userPhoto {
    width: 124px;
    height: 124px;
  }
  .uploader_label {
    width: 124px;
    height: 124px;
    margin-bottom: 20px;
  }
  .plus_icon {
    position: absolute;
    cursor: pointer;
    right: 24%;
    bottom: 10%;
    width: 24px;
    height: 24px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    padding: 40px 5% 80px;
    gap: 50px;
    flex-direction: row;
  }
  .column {
    gap: 50px 0;
  }
}
