.wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 24px;
}

.title {
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
}

  .circle {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    border: 2px solid var(--basic-text-color);
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  
  .circle::before,
  .circle::after {
    content: '';
    width: 10px;
    height: 2px;
    border-radius: 8px;
    background-color: var(--basic-text-color);
    position: absolute;
  }
  
  .circle::before {
    transform: rotate(90deg);
  }