.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 52px;
  gap: 8px;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 14px;
  line-height: 1.29;
  text-align: center;
  color: var(--basic-text-color);
  background-color: var(--add-task-button);
  border: 1px dashed var(--button-bgd-color) ;
  border-radius: 8px;
  cursor: pointer;
  flex-shrink: 0;
}

.plus_icon {
  stroke: var(--basic-text-color);
}

  