.wrapper {
    background-color: var(--basic-bgd-color);
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    border: 1px solid #DCE3E5CC;
    padding: 18px;
    overflow: auto;
    min-width: calc(100% - 40px);
}

  @media (min-width: 768px) {
    .wrapper {
        min-width: calc(50% - 46px);
    }
  }
  
  @media (min-width: 1440px) {
    .wrapper {
        min-width: calc(33.33% - 56px);
    }
  }