.days {
    display: flex;
    justify-content: space-around;
    margin-bottom: 14px;
    border: 1px solid var(--calendar-border-color);
    border-radius: 8px;
    padding: 16px;
    background-color: var(--calendar-bg-color);
} 

@media screen and (min-width: 768px) {
    .days {
        margin-bottom: 18px;
        padding: 14px;
    }
  }

  @media screen and (min-width: 1280px) {
    .days {
        margin-bottom: 15px;
    }
  }

  .days_text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.12;
    color: var(--input-text-color);
  }

  .days_text_weekend {
    color: var(--button-bgd-color)
  }