
.container {
    width: 375px;

    background: var(--white-color);

    margin-right: auto;
    margin-left: auto;
    padding: 40px;

    box-sizing: border-box;
    border-radius: 8px;
}

@media screen and (min-width: 768px) {
    .container {
        width: 600px;
    }
}

@media screen and (min-width: 1199px) {
    .container {
        width: 800px;
    }
}

.heading {
    margin: 0;
    margin-bottom: 40px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
    
    color: var(--button-bgd-color);
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.label {
    display: inline-block;
    margin-bottom: 8px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;

    color: var(--primary-text-color);
}

.input {
    height: 54px;
    width: 100%;

    box-sizing: border-box;
    padding-left: 10px;
    margin-bottom: 18px;
    border: 1px solid rgba(220, 227, 229, 0.6);
    border-radius: 8px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;

}

.inputError {
    height: 54px;
    width: 100%;
    
    box-sizing: border-box;
    padding-left: 10px;
    margin-bottom: 18px;
    border: 1px solid rgb(180, 9, 9);
    border-radius: 8px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
}


.button {
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 100%;

    margin-top: 30px;
    padding: 16px;

    cursor: pointer;

    border: none;
    background: var(--button-bgd-color);
    box-shadow: 4px 2px 16px rgba(136, 165, 191, 0.48);
    border-radius: 16px;

    Font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -0.02em;
    color: white;

    cursor: pointer;
}

.button:disabled {
    opacity: 0.35;
}

.logo {
    margin-left: 10px;
}
 