* {
  box-sizing: border-box;
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--register-bgd-color);
  padding: 0 20px;
}

.form {
  width: 100%;
  min-width: 320px;
  max-width: 480px;
  background-color: var(--white-color);
  border-radius: 8px;
  padding: 40px 24px;
}

@media (min-width: 768px) {
  .form {
    width: 480px;
  }
}

.title {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.3;
  color: var(--button-bgd-color);
}

@media (min-width: 768px) {
  .title {
    font-size: 24px;
  }
}

.label {
  display: block;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.25;

  color: var(--primary-black-color);
  margin-top: 24px;
  margin-bottom: 8px;
}

@media (min-width: 768px) {
  .label {
    font-size: 14px;
    margin-top: 18px;
  }
}

.input {
  width: 100%;
  display: block;
  outline: none;
  padding: 14px;
  border: 1px solid var(--normal-input-state);
  border-radius: 8px;
}

.input:focus,
input:hover {
  cursor: pointer;
  border-color: var(--primary-black-color);
}

.submit {
  border: transparent;
  cursor: pointer;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.3;
  background: var(--button-bgd-color);
  box-shadow: 4px 2px 16px rgba(136, 165, 191, 0.48);
  border-radius: 16px;
  color: var(--white-color);

  padding: 14px;
  margin-top: 32px;

  transition: linear 0.3s;
}

@media (min-width: 768px) {
  .submit {
    margin-top: 48px;
  }
}

.submit:hover,
.submit:focus {
  background-color: var(--hover-bgc-submit);
}

.submit:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.icon {
  margin-left: 10px;
}

.errorInput {
  border-color: var(--error-input-state);
}

.errorLabel {
  position: absolute;
  color: var(--error-input-state);
  font-size: 12px;
  padding-right: 42px;
}

.success {
  border-color: var(--correct-input-state);
}

.passwordContainer {
  position: relative;
}

.togle {
  position: absolute;
  right: 12px;
  top: 10px;
  cursor: pointer;
}

.redirect {
  color: var(--button-bgd-color);
  margin-top: 18px;
}

@media (min-width: 768px) {
  .redirect {
    margin-top: 24px;
  }
}

.imgContainer_login {
  display: none;
}

@media (min-width: 1279px) {
  .imgContainer_login {
    display: block;
    width: 352px;
    position: absolute;
    bottom: 0;
    right: 50px;
  }
}

.imgText_login {
  width: 140px;
  position: absolute;
  top: -60px;
  right: 150px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.15;
  color: var(--primary-black-color);

  transform: rotate(15deg);
  z-index: 2;
}

.imgMessage_login {
  position: absolute;
  top: -100px;
  right: 130px;
}

.spinner {
  position: absolute;
  z-index: 3;
}