.userNav {
    margin-top: 20px;

    display: flex;
    flex-direction: column;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;

    color: var(--secondary-text-color);
    
}

.heading {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    
    color: var(--secondary-text-color);
}

@media screen and (min-width: 768px) {
    .heading {
        font-size: 14px;
    }
}



.navLink {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    text-decoration: none;

    padding: 12px;
    gap: 8px;

    color: var(--input-text-color)!important;
}

.activeLink {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
    
        font-family: 'Inter';
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
        text-decoration: none;
  
    padding: 12px;
    gap: 8px;

    color: var(--user-nav-btn-text)!important;

    background: var(--user-nav-btn-bg);
    border-radius: 8px;
}

@media screen and (min-width: 768px) {
    .navLink {
        font-size: 16px;
    }

    .activeLink {
        font-size: 16px;
    }
}

.icon {
    stroke: var(--input-text-color);
    margin-right: 10px;
}

.active {
    
    stroke: var(--user-nav-btn-text);
    margin-right: 10px;
}



