.container { 
  padding-left: 20px;
  padding-right: 20px; 
  padding-top: 34px;  
  padding-bottom: 74px;
  background-color:var(--mobile-bdg-color);
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color:var(--mobile-bdg-color); 
  font-size: 32px; 
  font-weight: 700;
  line-height: 32px;
}

@media screen and (min-width: 1280px) {
  .container {
    padding-top: 38px;  
    padding-bottom: 46px;
    padding-left: 32px;
    padding-right: 32px; 
    margin-left: 289px;  
    background-color: var(--second-bdg-color);
  }  
  .header{
    background-color: var(--second-bdg-color);
  }
}


.warning{  
  display: none; 
}

.flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.logo_header {
  margin-right: 8px;
}
.text {
  margin-top: 8px;
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
}

.textinline {
  color: #3e85f3;
}

.button {
  cursor: pointer;
  border: none;
  background: rgba(0, 0, 0, 0);  
}

.logo_burger {
  stroke: var(--basic-text-color);
}

.title {
  display: none;
  
}
.burger{
  display: flex;
}

@media screen and (min-width: 1280px) {
  .title {
    display: flex;   
  }
  .burger {
    display: none;    
  } 
  .warning{  
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  } 
}