.day {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.date {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.17;
  color: var(--user-name-color);
  margin-top: 6px;
  padding: 4px 6px;
}

@media screen and (min-width: 768px) {
  .date {
    padding: 4px 8px;
    margin-top: 4px;
    font-size: 16px;
    line-height: 1.12;
  }
}

.selectedDay {
  background: var(--button-bgd-color) ;
  border-radius: 6px;
  padding: 4px 6px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.17;
  margin-top: 6px;

  color: #ffffff;
}

@media screen and (min-width: 768px) {
  .selectedDay {
    padding: 4px 8px;
    margin-top: 4px;
    font-size: 16px;
    line-height: 1.12;
  }
}

.dayOfWeek {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.12;
  text-transform: uppercase;
  color: var(--user-form-lable-color);
}

@media screen and (min-width: 768px) {
  .dayOfWeek {
    line-height: 1.29;
  }
}
