.container {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 55px;    
    background-color:var(--mobile-bdg-color); 
    height: 100vh;
  }

  @media screen and (min-width: 768px) {
    .container {
      padding-left: 32px;
      padding-right: 32px;
      /* background-color:var(--mobile-bdg-color);  */
    }
  }

  @media screen and (min-width: 1280px) {
    .container {
      margin-left: 289px;
      /* background-color: var(--second-bdg-color); */
    }
  }