.wrapper {
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 14px;
  margin-bottom: 32px;
  padding-right: 7px;
}

.wrapper::-webkit-scrollbar {
  background-color: #F2F2F2;
  width: 8px;
  border-radius: 12px;
}

.wrapper::-webkit-scrollbar-thumb {
  background-color: #E7E5E5;
  border-radius: 12px;

}