.container_1 {
  box-sizing: border-box;
  border: 1px solid black;

  background: var(--basic-bgd-color);
  padding: 20px;

  flex-direction: column;

  justify-content: space-between;

  border: none;
  position: fixed;
  top: 0;
  left: 0;

  height: 100%;
  width: 225px;
  display: flex;
}
/* 
@media screen and (max-width: 767px) {
  .container {
    width: 225px;
  }
} */

.container_2 {
  box-sizing: border-box;
  border: 1px solid black;

  background: var(--basic-bgd-color);
  padding: 20px;

  flex-direction: column;

  justify-content: space-between;

  border: none;
  position: fixed;
  top: 0;
  left: -225px;

  height: 100%;
  width: 225px;
  display: flex;
}

@media screen and (min-width: 768px) {
  .container_2 {
    box-sizing: border-box;
    border: 1px solid black;

    background: var(--basic-bgd-color);
    padding: 20px;
    /* padding-bottom: 200px; */
    flex-direction: column;

    justify-content: space-between;

    border: none;
    position: fixed;
    top: 0;
    left: 0;

    height: 100%;
    width: 289px;
    display: flex;
  }
}

@media screen and (min-width: 768px) {
  .close {
    display: none;
  }
}

.header {
  display: flex;
  flex-direction: row;

  align-items: center;
  justify-content: space-between;

  margin-bottom: 64px;
}

.logoContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.logo {
  margin-right: 10px;
}

.heading {
  color: var(--button-bgd-color);

  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;

  text-shadow: 0px 47px 355px rgba(0, 0, 0, 0.07),
    0px 9.4px 57.6875px rgba(0, 0, 0, 0.035);
}

.headingSpecial {
  font-style: italic;
}

.button {
  border: none;
  background: rgba(0, 0, 0, 0);
  cursor: pointer;
  padding: 32px 24px;
}

@media screen and (min-width: 768px) {
  .button {
    display: none;
  }
}
.burger {
  stroke: var(--basic-text-color);
}
