.container {
  height: 100vh;
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: 50px;
  background-color: var(--second-bdg-color);
}

@media screen and (min-width: 1280px) {
  .container {
    margin-left: 289px;
  }
}
