.btn {
  cursor: pointer;
  border: none;
  background-color: rgba(0, 0, 0, 0);
}

.logo {
  height: 18px;
  stroke: var(--basic-text-color);
  transition: linear 0.3s;
}
.logo:hover {
  cursor: pointer;
  stroke: var(--button-bgd-color);
}
