.container{ 
    position: relative;   
    margin: 40px 28px;  
    background-color: var(--basic-bgd-color);
    font-size:14px;
    font-weight: 600;
    line-height: 18px;  
}
@media screen and (min-width: 380px) {
    .container{
        flex-wrap: wrap; 
    }
}


.flex{
    display: flex;
    margin-top: 18px;     
}

.start{
    margin-right: 40px;
}
.label{   
    color: var(--label-text-color);
    text-align: left;
}
.input{
    width: 95%;
    padding: 14px;
    padding-left: 8px;
    margin-top: 8px;
    border: 1px solid #F7F7F7;
    color: var(--input-text-color);  
    background-color: var(--input-bdg-color); 
    border-radius: 8px;
}
.check{
    margin-right: 18px;         
}
.checkbox{
    margin-right: 6px;     
}


.btn_close{
    position: absolute;
    top:-22px;
    right:-5px;
    stroke:var(--basic-text-color);
    cursor: pointer;
}


.button { 
    display: flex;
    justify-content: center;
    align-items: center;    
    margin-top: 30px;
    padding: 16px;
    width: 100%;
    cursor: pointer;

    border: none;
    background: var(--button-bgd-color);
    box-shadow: 4px 2px 16px rgba(136, 165, 191, 0.48);
    border-radius: 8px;

    Font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -0.02em;
    color: white;

    cursor: pointer;
}

input[type='radio'] {
    position: relative;    
    appearance: none;
    margin-right: 10px;
    margin-left: 5px;  
}

input[type='radio']::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    transform: translate(-50%, -50%);        
  }

  input.checkbox1[type='radio']::before {
    background-color:   #72C2F8;
  }
  input.checkbox2[type='radio']::before {
    background-color:   #F3B249;
  }
  input.checkbox3[type='radio']::before {
    background-color:   #EA3D65;
  }
  
  input[type='radio']:checked::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: dodgerblue;
    transform: translate(-50%, -50%);
    visibility: visible;
  }

.button:disabled {
    opacity: 0.35;
}

.logo {
    margin-right: 10px;
    stroke: white;
}