.lgButton {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    max-width: 200px;
    padding: 14px;

    border: none;
    background: var(--button-bgd-color);
    box-shadow: 4px 2px 16px rgba(136, 165, 191, 0.48);
    border-radius: 16px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    
    letter-spacing: -0.02em;
    
    color: var(--basic-bgd-color);
}

.lgButton_icon {
    margin-left: 10px;
}

.spinner {
    position: absolute;
    
}