@import-normalize; /* bring in normalize.css styles */
:root {
  --white-color: #ffffff;
  --secondary-bgd-color: #eaeaea;
  --register-bgd-color: #dcebf7;
  --secondary-black-color: #13151a;
  --dark-secondary-bgd-color: #21222c;
  --button-bgd-color: #3e85f3;
  --primary-black-color: #111111;
  --secondary-text-color: #84828a;
  --placeholder-text-color: #dce3e5;
  --date-text-color: #343434;
  --day-text-color: #616161;
  --dark-day-text-color: #fafafa;
  --low-priority-color: #72c2f8;
  --medium-priority-color: #f3b249;
  --high-priority-color: #ea3d65;
  --high-priority-bgd: #ffd2dd;
  --medium-priority-bgd: #fcf0d4;
  --low-priority-bgd: #ceeefd;
  --task-button-color: #e3f3ff;
  --active-calendar-color: #cae8ff;
  --normal-input-state: rgba(17, 17, 17, 0.15);
  --error-input-state: #e74a3b;
  --error-msg: #db1414;
  --correct-input-state: #3cbc81;
  --hover-bgc-submit: #2b78ef;
  --task-priority-marker: #f7f6f9;
  --datepicker-line: rgba(255, 255, 255, 0.2);
}

html[data-theme='dark'] {
  --basic-bgd-color: #13151a;
  --second-bdg-color: #13151a;
  --mobile-bdg-color: #13151a;
  --calendar-bdg-color: #21222c;
  --normal-input-state: rgba(255, 255, 255, 0.15);
  --input-bdg-color: #13151a;
  --basic-text-color: #ffffff;
  --input-text-color: #ffffff;
  --label-text-color: #616161;
  --add-task-button: #3e85f3;
  --card-bgd-color: #171820;
  --user-nav-btn-text: #ffffff;
  --user-nav-btn-bg: #3e85f3;
  --user-name-color: #ffffff;
  --user-form-lable-color: rgba(250, 250, 250, 0.3);
  --period-select-bg-color: #21222C;
  --period-select-bg-active-color: #3E85F3;
  --calendar-bg-color: #22232D;
  --calendar-border-color: rgba(255, 255, 255, 0.15);
}

html[data-theme='light'] {
  --basic-bgd-color: #ffffff;
  --second-bdg-color: #eaeaea;
  --mobile-bdg-color: #f7f6f9;
  --calendar-bdg-color: #ffffff;
  --normal-input-state: rgba(17, 17, 17, 0.15);
  --input-bdg-color: #f7f7f7;
  --basic-text-color: #13151a;
  --input-text-color: #616161;
  --label-text-color: #13151a;
  --add-task-button: #e3f3ff;
  --card-bgd-color: #f7f6f9;
  --user-nav-btn-text: #3e85f3;
  --user-nav-btn-bg: #e3f3ff;
  --user-name-color: #343434;
  --user-form-lable-color: #616161;
  --period-select-bg-color: #E3F3FF;
  --period-select-bg-active-color: #CAE8FF;
  --calendar-bg-color: #FFFFFF;
  --calendar-border-color: rgba(220, 227, 229, 0.5);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--basic-bgd-color);
  color: var(--basic-text-color);
  box-sizing: content-box;
}



code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  background-color: var(--button-bgd-color);
  color: var(--primary-bgd-color);
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}
